<mat-toolbar class="footer-header">
  <mat-toolbar-row class="footer-row">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <p class="mat-display-3">
          Contact Information:
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="button" mat-button routerLink="projects" routerLinkActive="active">Projects</button>
        <button class="button" mat-button routerLink="interests" routerLinkActive="active">Interests</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="mat-display-4">
          Phone: 629-203-9370
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="button" mat-button routerLink="about" routerLinkActive="active">About</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="mat-display-4">
          Email: meierwerthan@gmail.com
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="mat-display-4">
          Made using Angular 6 & Material UI
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>
