.footer-row {
  margin: auto;
  display: block;
  padding-bottom: 10px;
  height: 150px;
}

.tile {
  height: 150px;
}

.button {
  padding: 5px;
  height: 150px;
  width: 50px;
}

.footer-header {
  height: 150px;
  background-color: lightsteelblue;
  z-index: 5;
}

.mat-display-3 {
  font-size: 18px;
  text-align: left;
  padding-right: 5px;
  margin-bottom: 0 !important;
}

.mat-display-4 {
  font-size: 14px;
  text-align: left;
  padding-right: 5px;
  margin-bottom: 0 !important;
}

