<mat-toolbar class="navigation-header">
  <mat-toolbar-row class="navigation-row">
    <mat-grid-list cols="5" rowHeight="50px">
      <mat-grid-tile>
        <button class="button" mat-button routerLink="" routerLinkActive="active">Home</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="button" mat-button routerLink="projects" routerLinkActive="active">Projects</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <img class="image" src="https://lh3.googleusercontent.com/cEO0qaryn6i8eGrN__MjAC_uw746atjzm1nWbTjqukVl4p-f9P-8QW7PI44GxxKA7ZDgJtlVWCwPTsIYH7HzWQYNULcwNfdw-DQBy-E_AcaFfNJc2u9lS7O8A4nSeL25Hm7FwuTfzw=w2400"/>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="button" mat-button routerLink="about" routerLinkActive="active">About</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="button" mat-button routerLink="interests" routerLinkActive="active">Interests</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>
